<!-- Author: Muhammad Kamaludin -->

<% @page_title= "Delete Account" %>
<% @delete_type = "user" %>
<%= erb :"common/header" %>

<p><strong>User ID:</strong> <%= h @user[:userID] %></p>

<%= erb :"common/delete" %> 

<%= erb :"common/footer" %>