<!-- Author: Alexander Johns & Lexi Wheadon -->
<!-- Updated: Muhammad Kamaludin -->

<% @page_title = "Feed" %>
<%= erb :"common/header" %>

<div class = "button"><a href="/new-post">Create Post</a></div>

<section>
    <% if @posts.count > 0 %>
        <% @post_is_moderated = 1 %>
        <%= erb :"common/post" %>
    <% else %>
        <p>No posts were found.</p>
    <% end %>
</section>

<%= erb :"common/footer" %>
