<% @page_title = "Login" %>
<%= erb :"common/login_header" %>

<body class="flex-container">
  <header>
    <h1>ACME and Uni</h1>
    <p>at ACME we strive to connect uni students world wide i think</p>
  </header>

<div class="flex-container">
  <form method="post">
    <label for="username"><p>Username:</p></label>
    <input type="text" id="username" name="username" value="<%= @user.username %>">

    <label for="password"><p>Password:</p></label>
    <input type="password" id="password" name="password">

    <% unless @error.nil? %> 
      <p style="color:red"><%= @error %></p>
    <% end %>

    <input class="button" type="submit" value="Submit" id="submitButton">
  </form>

</div>

<%= erb :"common/footer" %>
