<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="styles/com1001AssignmentStyleSheet.css">
  <!---
  for dark mode use
  <link rel="stylesheet" href="styles/darkMode.css">
  --->
  <link rel="stylesheet" href="styles/lightMode.css">
  <meta name="author" content="Albie Gray"></meta>
  <meta charset="utf-8"></meta>
</head>

<body class="flex-container">
  <header>
    <h1>ACME and Uni</h1>
    <p>at ACME we strive to connect uni students world wide i think</p>
  </header>

=======
<% @page_title = "Login" %>
<%= erb :"common/header" %>

<div class="flex-container">
>>>>>>> 4707b7108e0a35e5c62abfb82db3462f14dda066
  <!---
  validation required for form inputs(sinatra):
    max characters(20?)
  --->
<<<<<<< HEAD
  

  <form action="/login" method="post">
  
  <% unless @error.nil? %> 
    <p style="color:red"><%= @error %></p>
  <% end %>

  <p>Username: <br /><input type="text" name="username" value="<%= @user.username %>"/></p>
  <p>Password: <br /><input type="password" name="password" /></p>

  <input type="submit" value="Submit" id="submitButton">
  </form>


</body>
=======
  <form method="post">
    <label for="username"><p>Username:</p></label>
    <input type="text" id="username" name="username">

    <label for="password"><p>Password:</p></label>
    <input type="password" id="password" name="password">

    <p class="error"> the username or password that you entered is incorrect,
    please try again</p>

    <input class="button" type="submit" value="Submit" id="submitButton">
  </form>

</div>

<%= erb :"common/footer" %>
>>>>>>> 4707b7108e0a35e5c62abfb82db3462f14dda066
