<% @page_title = "Login" %>
<%= erb :"common/login_header" %>

<body class="flex-container" id="login">
  <header>
    <h1>ACME and Uni</h1>
    <p>at ACME we strive to connect uni students world wide i think</p>
  </header>

  <!---
  validation required for form inputs(sinatra):
    max characters(20?)
  --->
  

  <form action="/login" method="post">
  
    <% unless @error.nil? %> 
      <p style="color:red"><%= @error %></p>
    <% end %>

    <p>Username: <br /><input type="text" name="username" value="<%= @user.username %>"/></p>
    <p>Password: <br /><input type="password" name="password" /></p>

    <input type="submit" value="Submit" id="submitButton">
  </form>


<%= erb :"common/footer" %>
