<% @page_title = "Login" %>
<%= erb :"common/header" %>

<div class="flex-container">
  <!---
  validation required for form inputs(sinatra):
    max characters(20?)
  --->
  <form>
    <label for="userName"><p> User name:</p></label>
    <input type="text" id="userName" name="userName"><br>
    <label for="password"><p> Password: <p/></label>
    <input type="password" id="password" name="password"><br>
    <p id="invalidText"> the username or password that you entered is incorrect,
    please try again</p>
    <input type="submit" value="Submit" id="submitButton">
  </form>

</div>

<%= erb :"common/footer" %>