<% @page_title = "Login" %>
<%= erb :"common/login_header" %>

<header>
  <h1>Welcome To ACME</h1>
</header>

<div class="flex-container">
  <form method="post" class="loginElement">
    <label for="username"><p>Username:</p></label>
    <input type="text" id="username" name="username" value="<%= @user.username %>">

    <label for="password"><p>Password:</p></label>
    <input type="password" id="password" name="password">

    <% unless @error.nil? %> 
      <p style="color:red"><%= @error %></p>
    <% end %>

    <input class="button" type="submit" value="Submit" id="submitButton">
  </form>

  <div id="loginButtons" class="loginElement">
    <input class="button" type="button" id="submitButton" onclick="location.href='/register'" value="Register">
    <input class="button" type="button" id="submitButton" onclick="location.href='/guest'" value="Continue As Guest">
  </div>
</div>

<%= erb :"common/footer" %>
