<!-- Author: Raymon Narwal -->

<% @page_title = "Register" %>
<%= erb :"common/login_header" %>

<header>
  <h1>Register An Account</h1>
</header>

<div class="flex-container">
    <form method="post" class="signupElement">
        <label for="email"><p>Email:</p></label>
        <input type="email" id="email" name="email">

        <label for="username"><p>Username:</p></label>
        <input type="text" id="username" name="username">

        <label for="password"><p>Password:</p></label>
        <input type="password" id="password" name="password">

        <label for="first_name"><p>First Name:</p></label>
        <input type="text" id="first_name" name="first_name">

        <label for="last_name"><p>Last Name:</p></label>
        <input type="text" id="last_name" name="first_name">         

        <% unless @error.nil? %> 
          <p style="color:red"><%= @error %></p>
        <% end %>

        <input class="button" type="submit" value="Submit" id="submitButton">
    </form>

  <div id="loginButtons" class="loginElement">
    <input class="button" type="button" id="submitButton" onclick="location.href='/login'" value="Log In">
    <input class="button" type="button" id="submitButton" onclick="location.href='/guest'" value="Continue As Guest">
  </div>
</div>

<%= erb :"common/footer" %>