<html>

<head>
  <title>ACME | <%= @page_title %></title>

  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/style.css">
  <!---
  for dark mode use
  <link rel="stylesheet" href="styles/dark_mode.css">
  --->
  <link rel="stylesheet" href="styles/light_mode.css">
  <meta name="author" content="Albie Gray"></meta>
  <meta charset="utf-8"></meta>
</head>

<body>
  <nav class="nav_wrapper">
        <ul class="nav_bar">
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>

            <% if session[:account_type] == 3 || session[:account_type] == 2 %>
              <li><a href="/moderation-feed/posts">Moderation Feed</a></li>
            <% end %>

            <li><a href="/logout">Log Out</a></li>
        </ul>
    </nav>

  <header>
    <h1><%= @page_title %></h1>
  </header>
