<html>

<head>
  <link rel="stylesheet" href="styles/com1001AssignmentStyleSheet.css">
  <!---
  for dark mode use
  <link rel="stylesheet" href="styles/darkMode.css">
  --->
  <link rel="stylesheet" href="styles/lightMode.css">
  <meta name="author" content="Albie Gray"></meta>
  <meta charset="utf-8"></meta>
</head>

<body>

  <header>
    <h1><%= @subtitle %></h1>
  </header>