<html>

<head>
  <title>ACME | <%= @page_title %></title>

  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/style.css">
  <!---
  for dark mode use
  <link rel="stylesheet" href="styles/dark_mode.css">
  --->
  <link rel="stylesheet" href="styles/light_mode.css">
  <meta name="author" content="Albie Gray"></meta>
  <meta charset="utf-8"></meta>
</head>

<body>
