/*
:root {
  --colour-light-grey: #A0A0A0;
  --colour-grey: #808080;
  --colour-very-dark-grey: #404040;
  --colour-dark-grey: #505050;
  --colour-black: #000000;
  --colour-dark-blue: #2F2FA2;
  --colour-white: #ffffff;
}
*/

body {
  background-color: var(--colour-background);
}

p {
  color: var(--colour-text);
}

header {
  padding: 5%;
}

header h1 {
  background-color: var(--colour-contrast);
}

form {
  border: 2px solid var(--colour-outline);
  border-radius: 25px;
  padding: 1%;
  padding-right: 2%;
  width: 20%;
  background-color: var(--colour-secondary);
}

form input {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--colour-outline);
  background-color: var(--colour-accent);
}

input:hover {
  background-color: var(--colour-accent2);
  border: 1px solid var(--colour-outline);
  border-bottom: 2px solid var(--colour-outline);
}

#submitButton {
  color: var(--colour-text);
  background-color: var(--colour-contrast);
  width: 40%;
}

#invalidText {
  color:red;
}

.flex-container {
  display: flex;
  flex-direction: row;
  padding: 10%;
}
