/*
:root {
  --colour-light-grey: #A0A0A0;
  --colour-grey: #808080;
  --colour-very-dark-grey: #404040;
  --colour-dark-grey: #505050;
  --colour-black: #000000;
  --colour-dark-blue: #2F2FA2;
  --colour-white: #ffffff;
}
*/

body {
  background-color: var(--colour-accent2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p, h1 {
  color: var(--colour-text);
  font-family: verdana;
}

a {
  text-decoration: none;
  color: var(--colour-text);
}


header {
  width: 100%;
  padding: 0%;
  text-align: center;
}

header h1 {
  background-color: var(--colour-contrast);
  font-size: 280%;
  min-width: 100%;
}

form {
  border: 2px solid var(--colour-outline);
  border-radius: 25px;
  padding: 1%;
  padding-right: 2%;
  width: 20%;
  background-color: var(--colour-secondary);
}

form input {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--colour-outline);
  background-color: var(--colour-accent);
}

input:hover {
  background-color: var(--colour-accent2);
  border: 1px solid var(--colour-outline);
  border-bottom: 2px solid var(--colour-outline);
}

section {
  border: 2px solid var(--colour-outline);
  border-radius: 25px;
  padding: 1%;
  padding-right: 2%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colour-background);
}

article{
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  width: 100%;
  border-radius: 25px;
  border: 0px solid var(--colour-outline);
  background-color: var(--colour-accent2);
}


#submitButton {
  color: var(--colour-text);
  background-color: var(--colour-contrast);
  width: 40%;
  margin: auto;
}

#invalidText {
  color:red;
}

.button {
  padding: 0.5%;
  background-color: var(--colour-background);
  margin-bottom: 0.5em;
  border-radius: 5px;
  border: 1px solid;
  border-color:black;
  font-family: sans-serif;
}

.button:hover{
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--colour-accent2);
}



.flex-container {
  display: flex;
  flex-direction: row;
  padding: 10%;
}
