/* Author: Albie Gray */

:root {
  --colour-outline: #000000;
  --colour-background: #404040;
  --colour-secondary: #505050;
  --colour-accent: #808080;
  --colour-accent2: #A0A0A0;
  --colour-contrast: #2F2FA2;
  --colour-text: #ffffff;
}
