:root {
  --colour-outline: #000000;
  --colour-background: #E0E0E0;
  --colour-secondary: #B0B0B0;
  --colour-accent: #808080;
  --colour-accent2: #FFFFFF;
  --colour-contrast: #2F2FA2;
  --colour-text: #000000;
}